{% extends "base.html" %}

{% block css %}
  <style>
    /* Add hover effect styles */

    .navbar {
        
      position: relative;
      z-index: 2;
      padding-right: 5%;
    }
    .navbar:hover {
      background-color: #ffffff;
      transition: 0.4s;
      color: #000000;
    }
  
    .navbar:hover > li > a > .titleSpan{
      color: black;
    }
  
    .titleSpan {
      color: #ffffff;
    }
  
    .titleSpan1 {
      font-size: 2.5rem; 
      font-weight: 700; 
      z-index: 3;
    }
  
    .titleSpan2 {
      font-size: 1.1rem; 
      font-weight: 600;
    }
  
    .titleSpan3 {
      font-size: 1.8rem; 
      font-weight: 700;
    }
  
    
    body { padding: 0px; margin: 0px; overflow: hidden; }
    .jb-box { width: 100%; height: 500px; margin: -7rem auto; position: relative; z-index: -2; display: block;}
    .jb-box2 { width: 100%; height: 500px; margin: -11rem auto; position: relative; z-index: -2; display: none;}
    video { width: 100%; }
    .jb-text { position: absolute; top: 50%; width: 100%; }
    .jb-text div { margin-top: -24px; text-align: left; font-size: 7rem; color: #ffffff; padding-left: 3rem; ; }
    
    @media screen and (max-width: 450px) {
      .jb-box {
        display: none;
      }
      .jb-box2 {
        display: block;
      }
      .titleSpan1 {
        font-size: 0.9rem;
      }
      .titleSpan2 {
        font-size: 0.9rem;
      }
    }
  
    @media screen and (max-width: 370px) {
      video {
        width: fit-content;
      }
    } 
  </style>
{% block %}