{% load static %}<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% comment %} <meta name="google" content="notranslate"> {% endcomment %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google" content="notranslate">
  <link rel="stylesheet" href="{% static '/css/base.css' %}" >
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>{% block title %}AI 2-1 SLT{% endblock %}</title>
  <style>
  
  </style>
</head>
<body>
  <ul style="list-style: none; justify-content: space-btween;" class="navbar">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><span class="titleSpan titleSpan1">SLT</span><span class="titleSpan titleSpan2">(AI 2학년 1반 2조 MDP)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'video_stream' %}"><span class="titleSpan titleSpan3">START</span></a>
    </li>
  </ul>
  
  <div class="jb-box">
    <video muted autoplay loop >
      <source src="{%static '/home.mp4' %}" type="video/mp4" >
    </video>
    <div class="jb-text">
      <div style="font-size: 8rem; font-weight: 600; line-height:15rem; ">
        <div style="margin-bottom: 16px;">
          MDP
        </div>
        <div style="font-weight: 100; font-size: 8vw; line-height: 2rem;">
          SignLanguage
        </div>
      </div>
    </div>
  </div>

  <div class="jb-box2">
    <video muted autoplay loop id="videoPlayer">
      <source src="{% static 'homeMobile1.mp4' %}" type="video/mp4">
      <!-- Add more sources as needed -->
    </video>
    <div class="jb-text"> 
      <div style="font-size: 3rem; font-weight: 600; line-height:1;  ">
          <span style="display: block;">
            MDP
          </span>
          <span style="font-weight: 100; font-size: 8vw; line-height: 2rem;">
            SignLanguage
          </span>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        {% comment %} <div class="card mb-4">
          <div class="card-body">
            {% block content %}
            {% endblock %}
          </div>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
</body>
</html>